body {
    background-color: #CFDEE7;
}

header {
    border-bottom: 0.5px solid #eee;
}

nav {
    background-color: #f5f6f7;
}

nav a {
    color: #000; 
    text-decoration: none;
}

#transactions-table td:nth-child(4),
#transactions-table td:nth-child(5) {
    text-align: end;
}

#sign-out-btn {
    color: white; 
    border-radius: 15px; 
    padding: 2.5px 12px;
    position: relative;
    bottom: 2px;    
}

.form-control {
    background-color: #f1f1f2 !important; 
    border: 1px solid #ced4da;
}
